* {
  margin: 0px;
}
.page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(225, 100%, 94%);
  background-image: url(./images/pattern-background-desktop.svg);
  object-fit: cover;
  background-repeat: no-repeat;
}
.card {
  height: 500px;
  width: 350px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}
.image {
  height: 180px;
  width: 100%;
  object-fit: cover;
}
.image img {
  height: 100%;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}
.text {
  padding: 30px 20px 20px 20px;
  text-align: center;
  color: hsl(223, 47%, 23%);
  font-family: "Montserrat", sans-serif;
}
.text h2 {
  margin-bottom: 10px;
}
.text p {
  margin-bottom: 25px;
  font-size: 15px;
}
.plan {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: hsl(225, 100%, 98%);
  border-radius: 10px;
  margin-bottom: 30px;
}

.text button {
  height: 30px;
  width: 100%;
  background-color: hsl(245, 75%, 52%);
  border-radius: 10px;
  border: none;
  margin-bottom: 15px;
}
.text p:last-child {
  font-size: 10px;
}
.icon {
  height: 40px;
  width: 40px;
  display: flex;
  border-radius: 50px;
  background-color: hsl(225, 100%, 94%);
  margin-left: 5px;
  object-fit: cover;
}
.price h6 {
  margin-left: 10px;
  margin-top: 29px;
}
.change p {
  margin-top: 29px;
  margin-left: 90px;
}
